
.navbarBack{
  background-color: #f9f7d9;
}

.card{
  width: 40rem;
}
.all{
  align-items: center;
  display: flex;
  justify-content: center;
}

.Loading{
  justify-content: center;
  display: flex;
  align-items: center;
}
